*{
  margin : 0;
  padding : 0;
}

body{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.container{
  position: relative;
  width : 400px;
  height: 200px;
  background-color: red;
}

.container .content .hijau{
  position: absolute;
  width : 140px;
  height: 80px;
  bottom :0;
  left: 260px;
  background-color: #7CFC00;
}


